.btn {
  padding: 0.25rem 0.5rem;
  background-color: var(--blue500);
  color: #fff;
  border-radius: 4px;
  font-size: var(--text-sm);
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: var(--blue800);
  }

  &.btn-secondary {
    background-color: var(--glacier);
    color: var(--blue400);
    &:hover {
      color: var(--glacier);
      background-color: var(--blue400);
    }
  }

  @media screen and (min-width: 768px) {
    padding: 0.5rem 1rem;
    font-size: var(--text-md);
  }
}
