:root {
  --glacier: #fff;

  --text-xsm: 0.65rem;
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 1.875rem;

  --blue100: #caf0f8;
  --blue200: #ade8f4;
  --blue300: #90e0ef;
  --blue400: #48cae4;
  --blue500: #00b4d8;
  --blue600: #0096c7;
  --blue700: #0077b6;
  --blue800: #023e8a;
  --blue900: #03045e;
}
